.titleCardBody{
    border: 1px solid black;
    border-collapse: collapse;
    /* height: 500px; */
    display: flex;   
}

.centeredImageContainer {
    display: flex;
    justify-content: center; /* Center along the main-axis (horizontal centering) */
    margin-top: 10px; /* Adjust the margin as needed */
  }

.mainCardTitle{
    display: flex;
    justify-content: center;
    gap:15px
}

.brandTitle{
    width: 14.625rem;
    height: 2.125rem;
  
}

.subTitle{
    font-size: 30px;
    font-weight: 500;
}
.leftBody, .rightBody {
    flex: 1;
    border: 1px solid black; /* Optional: Add border for visualization */
   /* Optional: Add padding for spacing */
}

.leftBodyTable {
    border-collapse: collapse;
}

.leftBodyTable th, .leftBodyTable td {
    border: none; /* Remove leftBodyTable cell borders */
    padding: 15px;
    text-align: left;
}

.rightBodyTitle{
    font-size: 35px;
    text-align: center;
}

.mainCardFooter{
    display: flex;
    justify-content: left;
    margin-left: 2%;
    padding: 3%;
}



.mainCardFooter td{
    text-decoration: underline;
}

.mainCardFooter tr {
    padding: 5%;
}

.footerLeftBody{
    width: 50%;
}
.placementsCard table{
    width: 100%;
}

.placementsCard table,
.placementsCard tr,
.placementsCard td,
.placementsCard th {
    border: 1px solid black;
    border-collapse: collapse;
}

.greyRow {
    background-color: lightgrey;
}










