/* Background.css */

/* Create a gradient background with primary color for the login page */
.login-page {
    /* background: linear-gradient(45deg, #5316bc, #cdc6db); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    overflow: hidden;
    position: relative;
    border: 2px solid #673ab7;
  }
  
  /* Create a translucent overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  
  /* Center the login form */
  .login-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    z-index: 1;
  }
  
  /* Style the logo */
  /* .logo {
    margin-bottom: 20px;
    font-size: 36px;
    color: #673ab7;
    font-weight: bold;
  } */
  
  /* Style the form elements */
  .ant-form-item {
    margin-bottom: 20px;
  }
  
  /* Style the login button */
  .login-button {
    background-color: #673ab7;
    color: #fff;
    border: none;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #1c172a;
  }
  
  /* Add the fabric texture as background */
  .login-page::before {
    content: '';
    background-image: url('fabric-texture.jpg'); /* Adjust the path to your image */
    opacity: 0.1; /* Adjust opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

  .light-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 5%, transparent 30%);
    opacity: 0.7; /* Adjust the opacity for the desired effect */
    pointer-events: none; /* Prevent the overlay from intercepting clicks */
}
  