.loader {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .loader .row{
    position: absolute;
    top: 50%;
    left: 50%;

  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .shirt-spinner {
    animation: rotate 1s linear infinite;
  }
  
  .shirt-icon {
    /* Add any additional styling for your shirt icon here */
    font-size: 30px;
  }